{% load static %}


<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Django, Web-development, Game">
        <meta name="description" content="Django Project with a Game">
        <meta http-equiv="refresh" content="500000"> <!-- alle 5 Sekunden wird die Seite neu geladen -->
        <meta name="robots" content="index, follow">  <!-- google durchsucht die Startseite(Index.html) und mit "follow" die Unterseiten(Klassen, login, logoout) -->
        <meta name="revisit-after" content="5 month">  <!-- Google speichert die Seite 5 Monate lang damit unsere Seite schneller geladen wird. -->

        <title>{% block title %} Mein Game-Forum {% endblock %}</title>


        <!-- Knöpfe -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- CSS-Style -->
        <link rel="stylesheet" href="{% static 'web/css/web.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


        <!-- Schrift-Style -->
        <!-- Loobster -->
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <!-- Marck Script -->
        <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
        <!-- Press+Start+2 -->
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
        <!-- 'Mandali' -->
        <link href="https://fonts.googleapis.com/css?family=Mandali&display=swap" rel="stylesheet">

    </head>

    <!-- Hintergrundbild -->
    <style>
            body {
                background: url("{% static 'web/img/black-backgrounds-11.jpg' %}") no-repeat center center fixed;
            }
    </style>

    <!-- NAvigationsleiste -->
    <header>

        <nav class="header2">
            <div>
            <span class="navbar-account"><b>
                {% if request.user.is_authenticated %}
                <a href="{% url 'web:logout' %}">Logout |</a>
                {% else %}
                <a href="{% url 'web:login' %}" class="btn btn-secondary btn-info">Login |</a>
                <a href="{% url 'web:register' %}" class="btn btn-secondary btn-info">Account anlegen</a>
                {% endif %}
            </b></span>
            </div>
        </nav>

        <nav class="header2">
            <div>
            <span class="haupt_navbar"><b>
                <a href="{% url 'web:spiel_Website' %}">Spiel-Website |</a>
                <a href="{% url 'web:klassen' %}">Klassen |</a>
                <a href="{% url 'web:forum' %}">Forum |</a>
                <a href="{% url 'web:neuste_beiträge' %}">Neuste Beiträge |</a>
                <a href="{% url 'web:team' %}">Team |</a>
                <a href="{% url 'web:downloads' %}">Downloads</a>
            </b></span>
            </div>
        </nav>


    </header>
    <!--<hr size="30" color="black" >        <!-- Malt einen Strich mit 10er stärke -->
    <body>
    <br>
        {% block authForm %}
        {% endblock %}
    <br>

    <div class="todo-container">
        <h1 class="todo_hüberschrift">To-do-liste</h1>
        <div class="todo-container2">
            <div class="col mt-4">
                <h2 class="todo_hüberschrift">Add Item</h2>
                <form action="add_todo/" method="post" class="form-inline">
                    <input type="text" name="content" class="infobox" placeholder="type here..">
                    <button type="submit" class="to_do_button">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="todo-container">
            <ul class="list-group1">
                {% for todo_item in todo_items %}

                <li class="list-group2">{{ todo_item.text }}
                    <div class="div_delete">
                        <form action="delete_todo/{{todo_item.id}}/" action="post">
                            <br>
                            <button type="submit" class="to_do_button_delete">delete</button>

                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
    </div>

    </body>




</html>

















