{% extends 'web/base.html' %}
{% load static %}

{% block title %} BlogPost - Account anlegen {% endblock %}

{% block authForm %}

    <div style="background-color:#4648a4">
        <h1 class="hüberschrift">Priester / Hexenmeister (Nützliche Skills/Eliteskills)</h1>
        <table border="1">
            <!--Klassenfertigkeiten-Tabelle-->
            <tr>
                <td class ="skillname">
                    <div class="div1">
                        <h3>Hauch der Wiederbelebung</h3>
                        <h3>(lvl 20)</h3>
                    </div>
                </td>
                <td class ="skillbeschreibung">
                    Dieser Skill ist Gruppen übergreifend und kann beim laufen benutzt werden.
                        Sehr gut in der Instanz: Tikal, Inferno, Eisriesen beim Trash oder bei den
                        Bossen, wenn man keine Zeit hat um Gruppenheilung zu benutzen.
                        Man sollte diesen Skill aber 2x hinter einander einsetzen, wenn die Gruppe/Raid viel
                        Schaden bekommt, da der Heil-Wert pro Person halbiert wird.
                    <br>
                    <br>
                </td>
            </tr>
                <br>
                <br>
            <tr>
                <td class ="skillname">
                <h3>Gebet des Trübsals</h3>
                <h3>(lvl 25)</h3>
                </td>
                <td class ="skillbeschreibung">
                    <b>Dieser Skill ist unser stärkster Heal, da er nicht nur den Spieler gut heilen kann,
                        sondern auch seine Physische und magische Verteidigung erhöht.
                        Sollte aber nicht eingesetzt werden, wenn das Ziel weniger als 20% life hat und
                        permanenten Schaden vom Gegner bekommt, da ist Schnellheilung besser.
                        <br><br>
                        ACHTUNG, wenn ihr kein Fokus mehr habt, könnt ihr diesen Skill auch nicht einsetzen und wenn
                        der Spieler aus deiner Cast-Range verschwindet, dann kommen nicht 4 Ticks an Heilung an, sondern
                        nur 1 oder 2!
                        <br><br>
                        Am besten 1x Gebet des Trübsals, dann 4-6 mal Schnellheilung und dann wieder Gebet..,
                        auf den Tank vorzugsweise. (So bleibt die Verteidigungserhöhung permanent auf dem Spieler
                        und dein Fokus kann sich regenerieren)!</b>
                </td>
            </tr>
            <tr>
                <td class ="skillname">
                <h2 >Verkörperung des Geistes <br>(lvl 50)</h2>
                    <h4><i>muss mit</i></h4>
                    <h2>Lebenswoge</h2>
                    <h3>(lvl 70)</h3>
                    <h4><i>kombiniert werden</i></h4>
                </td>
                <td class ="skillbeschreibung">
                    <b>Dieser Skill ist unser stärkster Heal, da er nicht nur den Spieler gut heilen kann,
                        sondern auch seine Physische und magische Verteidigung erhöht.
                        Sollte aber nicht eingesetzt werden, wenn das Ziel weniger als 20% life hat und
                        permanenten Schaden vom Gegner bekommt, da ist Schnellheilung besser.
                        <br><br>
                    ACHTUNG, wenn ihr kein Fokus mehr habt, könnt ihr diesen Skill auch nicht einsetzen und wenn
                    der Spieler aus deiner Cast-Range verschwindet, dann kommen nicht 4 Ticks an Heilung an, sondern
                    nur 1 oder 2!
                        <br><br>
                    Am besten 1x Gebet des Trübsals, dann 4-6 mal Schnellheilung und dann wieder Gebet..,
                    auf den Tank vorzugsweise. (So bleibt die Verteidigungserhöhung permanent auf dem Spieler
                    und dein Fokus kann sich regenerieren)!</b>
                </td>
            </tr>
            <br>
                <br>
            <tr>
                <td class ="skillname">
                <h3>Gebet des Trübsals2</h3>
                <h3>(lvl 25)</h3>
                </td>
                <td class ="skillbeschreibung">
                    <b>Dieser Skill ist unser stärkster Heal, da er nicht nur den Spieler gut heilen kann,
                        sondern auch seine Physische und magische Verteidigung erhöht. <br>
                        Sollte aber nicht eingesetzt werden, wenn das Ziel weniger als 20% life hat und
                        permanenten Schaden vom Gegner bekommt, da ist Schnellheilung besser.<br><br>
                        ACHTUNG, wenn ihr kein Fokus mehr habt, könnt ihr diesen Skill auch nicht einsetzen und wenn<br>
                        der Spieler aus deiner Cast-Range verschwindet, dann kommen nicht 4 Ticks an Heilung an, sondern<br>
                        nur 1 oder 2!<br>
                        Am besten 1x Gebet des Trübsals, dann 4-6 mal Schnellheilung und dann wieder Gebet..,<br>
                        auf den Tank vorzugsweise. (So bleibt die Verteidigungserhöhung permanent auf dem Spieler
                        und dein Fokus kann sich regenerieren)!</b>
                    <br>
                    <br>
                </td>
            </tr>
            <br>
                <br>
            <tr>
                <td class ="skillname">
                <h3>Gebet des Trübsals2</h3>
                <h3>(lvl 25)</h3>
                </td>
                <td class ="skillbeschreibung">
                    <b>Dieser Skill ist unser stärkster Heal, da er nicht nur den Spieler gut heilen kann,
                        sondern auch seine Physische und magische Verteidigung erhöht. <br>
                        Sollte aber nicht eingesetzt werden, wenn das Ziel weniger als 20% life hat und
                        permanenten Schaden vom Gegner bekommt, da ist Schnellheilung besser.<br><br>
                    ACHTUNG, wenn ihr kein Fokus mehr habt, könnt ihr diesen Skill auch nicht einsetzen und wenn<br>
                    der Spieler aus deiner Cast-Range verschwindet, dann kommen nicht 4 Ticks an Heilung an, sondern<br>
                    nur 1 oder 2!<br>
                    Am besten 1x Gebet des Trübsals, dann 4-6 mal Schnellheilung und dann wieder Gebet..,<br>
                    auf den Tank vorzugsweise. (So bleibt die Verteidigungserhöhung permanent auf dem Spieler
                    und dein Fokus kann sich regenerieren)!</b>
                    <br>
                    <br>
                </td>
            </tr>
        </table>
    </div>
        <br>
        <br>
        <br>
        <div>
        <table>
            <tr>
                <td>

                </td>
            </tr>
        </table>
        </div>
    </div>


{% endblock %}