
<html>
<head>
    <meta charset="UTF-8">
    <title>Klassen</title>
</head>
<body style="background-color:lightblue">
    <div>
        <table>
            <tr>
                <td style="background-color:lightgreen">
                    <h2>Krieger</h2>
                    <p>Der Krieger trägt 1h Waffen sowie Schilde und kann
                        Plattenrüstungen tragen. Seine Arme sind bedeckt von schweren Ketten-
                        Gliedern, welche er benutzen <br>
                        kann,um viele Gegner an sich zu binden!<br>
                        Ausserdem manipuliert er die Grösse seiner Ausrüstung um Schaden abzuwehren,
                        damit reduziert er aber auch massiv, seine Bewegungsgeschwindigkeit!
                    </p>
                </td>
            </tr>
        </table>
        <table border="1">
            <!--Klassenfertigkeiten-Tabelle-->
            <tr><td style="background-color:red">
                <h3>Fertigkeiten:</h3><br>
                </td>
                <td style="background-color:orange">
                    <b>Kampfschrei</b>
                    Krieger nutzen Kampfschreie, um ihren Verbündeten zu helfen oder Gegnern
                    in Hörweite das Leben schwer zu machen.<br>
                    Wenn Wächter ihren Gefährten „Haltet die Stellung!“ zurufen,
                    gewähren sie ihnen Regeneration und Schutz.<br>
                    Der Kampfschrei „Rückzug!“ gewährt Verbündeten in Not Geschwindigkeit
                    und Aegis.<br>
                    <br>

                    <b>Kampfschrei 2</b>
                    Krieger nutzen Kampfschreie, um ihren Verbündeten zu helfen oder Gegnern
                    in Hörweite das Leben schwer zu machen.<br>
                    Wenn Wächter ihren Gefährten „Haltet die Stellung!“ zurufen,
                    gewähren sie ihnen Regeneration und Schutz.<br>
                    Der Kampfschrei „Rückzug!“ gewährt Verbündeten in Not Geschwindigkeit
                    und Aegis.<br>
                    <br>

                    <b>Kampfschrei 3</b>
                    Krieger nutzen Kampfschreie, um ihren Verbündeten zu helfen oder Gegnern
                    in Hörweite das Leben schwer zu machen.<br>
                    Wenn Wächter ihren Gefährten „Haltet die Stellung!“ zurufen,
                    gewähren sie ihnen Regeneration und Schutz.<br>
                    Der Kampfschrei „Rückzug!“ gewährt Verbündeten in Not Geschwindigkeit
                    und Aegis.<br>
                    <br>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <div>
        <table>
            <tr>
                <td style="background-color:lightgreen">
                    <h2>Gesegneter (Heiler)</h2>
                    <p>Der Gesegnete trägt einen 2h Stab sowie leichte Stoff-Rüstung.
                        Mit mächtigen Zaubern, kann er nicht nur seine Gruppe heilen,
                        sondern auch großen Schaden <br>
                        abwenden.
                        Seine Gebete sorgen dafür, das seine Gegner ihn nicht erreichen können und die Moral
                        der Gruppe gestärkt wird!<br>
                    </p>
                </td>
            </tr>
        <table border="1">
            <!--Klassenfertigkeiten-Tabelle-->
            <tr><td style="background-color:red">
                <br>
                <h3>Fertigkeiten:</h3><br>
                </td>
                <td style="background-color:orange">
                    <b>Umarmung des Engels</b>
                    Der Gesegnete breitet seine Engelsflügel auf um seine Gruppe zu Umarmen und dadurch
                    viel Schaden abzuwehren!<br>
                    <i>(Reduziert den Schaden der Gruppe für 5 Sekunden um 70%.)</i>
                    <br>
                    <br>
                    <b>Ikarus Verhängnis</b>
                    Ihr steigt empor und fliegt mit euren Flügeln Richtung Sonne! <br>
                    <i>(Bodeneinheiten können euch für 10 Sekunden keinen Schaden zufügen.)</i><br>
                    <br>

                    <b>Lied des Propheten</b>
                    Euer Gebet heilt eure Gruppe und stärkt die Moral! <br>
                    <i>(Heilt jedes Gruppenmitglied alle 2 Sekunden un 5000 Lebenspunkte.
                        Kanalisation hält 10 Sekunden.)</i><br>
                    <br>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h2>Magier</h2><br>
    </div>

    <div>
        <h2>Developer</h2><br>
    </div>

    <div>
        <h2>Jäger</h2><br>
    </div>

    <div>
        <h2>Nekromant</h2><br>
    </div>




    <footer>
        <div>
            <h3>Cookies</h3>
            <p><b>Wir verwenden Cookies und verteilen Sie an Alle!</b></p>
        </div>
    </footer>
</body>

</html>