{% extends 'web/base.html' %}
{% load static %}

{% block title %} BlogPost - Account anlegen {% endblock %}


{% block authForm %}

<div style="background-color:darkorange">
    <p>Teampartner: John Doe</p>
</div>
<br>
<br>
<br>
<div style="background-color:lightred">
    <p>Impressum folgt</p>
</div>
<br>
    <br>
        <h3>ABOUT</h3>
        <hr>
        <p>persöhnliches Zeug</p>
        <br>
    <br>
        <h3>ARBEITEN</h3>
        <hr>
        <p>programmierte Websites</p>
        <br>
        <ul>
            <li><img src=" {% static 'web/img/eisriesen.png' %}" alt="Eisriesen_symbol"></li>
            <li><a href="#"><img src="https://via.placeholder.com/270x160" alt="Projektname2"></a></li>
            <li><a href="#"><img src="https://via.placeholder.com/270x160" alt="Projektname3"></a></li>
            <li><a href="#"><img src="https://via.placeholder.com/270x160" alt="Projektname4"></a></li>
            <li><a href="#"><img src="https://via.placeholder.com/270x160" alt="Projektname5"></a></li>
        </ul>
        <br>
    <br>
    <br>
    <svg width="500" height="200">
        <rect x="22" y="22" rx="22" ry="22" height="155" width="444" stroke="green" stroke-width="10" erreichbarkeit3/>
    </svg>



{% endblock %}