{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block blogContent %}
    {% if request.user.is_authenticated %}


    <div id="nav">
        <a href="#"><strong>blob</strong></a>
        <a href="#"><strong>Forum</strong></a>
        <a href="#"><strong>Benutzer</strong></a>
        <a href="#"><strong>Team</strong></a>
        <a href="#"><strong>Neueste Beiträge</strong></a>
    </div><br>

    <form class="form-inline" action="{% url 'blog:create_post' %}" method="post">
        {% bootstrap_form post_form layout='inline' %}
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Senden</button>
    </form>
    {% endif %}

    {% for post in posts %}
        <p>
            <tt>{{ post.message }} - {{ post.created_at }}</tt>
        </p>
    {% empty %}
        {% if user == request.user %}
        <p>Du hast noch nichts geteilt!</p>
        {% else %}
        <p>Der User {{ user.username }} hat noch nichts geteilt!</p>
        {% endif %}
    {% endfor %}

{% endblock %}






















